@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #222222;
  }
}

html, body, #__next {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(to bottom, #222222, #353535);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.mantine-Paper{
  background-color: #797979 !important;
}

.drawer-close-button:hover{
  background-color: rgba(255, 255, 255, 0.1) !important;
}
